{% if project_slug == 'ideascube' %}
{%   set project_homepage = 'ideascube' %}
{% elif project_slug == 'ideasbox' %}
{%   set project_homepage = 'ideasbox.lan' %}
{% elif project_slug == 'koombook' %}
{%   set project_homepage = 'koombook.lan' %}
{% endif %}
user_pref("browser.startup.homepage", "http://{{ project_homepage }}/");
